.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    background-color: white;
    gap: 1rem;
    .header-item {
        display: flex;
        align-items: center;
        gap: 1rem;
    }
    label {
        cursor: pointer;
        button {
            pointer-events: none;
        }
    }
    input[type='file'] {
        display: none;
    }
}